.wrapper {
    width: 1000px;
    height: 550px;
    background: #2B1887;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
}

img {
    width: 100%;
}

.text {
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.image1 {
    width: 40px;
}

.para1 {
    font-size: 50px;
    height: 1px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
}

.para2 {
    font-size: 25px;
    height: 1px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
}

.add-button {
    margin-top: 30px;
    margin-left: 10px;
    width: 25px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.up-to-do {
    display: flex;
}

.image2 {
    width: 20px;
    height: 25px;
    margin-top: 37px;
    margin-left: 20px;
}

.to-do {
    margin-top: 60px;
    width: 300px;
    height: 400px;
    background-color: #D5CCFF;
}

.todo-list {
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.para3 {
    padding: 15px;
    font-size: 21px;
    color:#2B1887;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
}

.add-task-add-button {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.add-task {
    margin-left: 50px;
    display: none;
}

.flex {
    display: flex;
}

p {
    position: relative;
}

span {
    position: absolute;
    right: 0;
    cursor: pointer;
}